<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dog Breed Classifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
      /* Center the title */
      .title {
        text-align: center;
      }

      /* Center the form elements */
      .form-group {
        text-align: center;
      }

      /* Center the submit button */
      .submit-button {
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Dog Breed Classifier</h1>
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}
      <form action="{{ url_for('predict_image') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" name="file" id="file" accept=".jpg,.png" required>
          <button type="submit" class="submit-button">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>